<h1>Beer clubs</h1>

<div id="beer_clubs">
  <p>
    Order by 
    <%= link_to "name", beer_clubs_path(order: "name") %>
    |
    <%= link_to "founding year", beer_clubs_path(order: "year") %>
    |
    <%= link_to "city", beer_clubs_path(order: "city") %>
  </p>
  <% @beer_clubs.each do |beer_club| %>
    <%= render beer_club %>
    <p>
      <%= link_to "Show this beer club", beer_club %>
    </p>
  <% end %>
</div>

<%= link_to("New beer club", new_beer_club_path) if current_user %>
