<h3> Username: </h3>
<p><%= @user %></p>
<% if @user.disabled %>
  <span class="badge bg-secondary">disabled</span>
<% end %>
<%= link_to "Change account status", toggle_account_status_user_path(@user.id), data: { turbo_method: "post" }, class: "btn btn-danger" if current_user and current_user.admin? %>
<h4>Ratings & favorites</h4>
<% if @user.ratings.empty? %>
  <p>user has not yet rated any beers!</p>
<% else %>
  <p><%= "Has made #{pluralize(@user.ratings.count, "rating")}, average rating #{round(@user.average_rating)}" %></p>
  <p><%= "Favorite style is #{@user.favorite_style}" %></p>
  <p><%= "Favorite brewery is #{@user.favorite_brewery.name}" %></p>
  <ul>
  <% @user.ratings.each do |rating| %>
    <li>
    <%= rating %> 
    <% if @user == current_user %>
      <%= link_to "Delete", rating,
                  data: {
                    "turbo-method": :delete,
                  }, class: "btn-delete" %>
    <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
<h4>Beerclubs</h4>
<% if @user.beer_clubs.empty? %>
  <p>user has not yet joined any beerclubs!
<% else %>
  <ul>
  <% @user.beer_clubs.each do |beerclub| %>
      <li><%= link_to beerclub, beerclub %></li>
  <% end %>
  </ul>
<% end %>
<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
  <% end %>
  <%= link_to "Back to users", users_path %>
  <% if @user == current_user %>
    <%= button_to "Destroy this user", @user, method: :delete, class: "btn btn-danger" %>
  <% end %>
</div>
