<p style="color: green"><%= notice %></p>
<h1>List of ratings</h1>
<p>Number of ratings: <%= @ratings.count %></p>
<div id="ratings">
  <% @ratings.each do |rating| %>
    <li><%= render rating %> <%= link_to rating.user, rating.user %></li>
  <% end %>
</div>
<p><%= link_to("New rating", new_rating_path) if current_user %></p>

